
.toppage2{
    // background-color: aqua;
    height: 596.02px;
    display: grid;
    grid-template-columns: 1fr 1fr;
        
    &__left{
        display: grid;
        grid-template-rows: 1fr 1fr;
        place-items: center;
    }

    &__featbutton{
        background-color: orange;
button{
    background-color: #5468E7;
}

    }
    &__experience{
        display: grid;
        font-size: x-small;
        color: #5468E7;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    &__right{
        display: grid;
        place-content: center;
    img{
        height: 500px;
        width: auto;
    }
    } 
}